
    * {
        margin: 0;
        box-sizing: border-box;
    }

    html {
        scroll-snap-type: y mandatory;
    }
    
    body {
       color: white;
       background-color: black;
       height: 100%;
       display: grid;
       place-items: center;
    }

    .video_container {
        position: relative;
        height: 1200px;
        background-color: white;
        overflow:scroll;
        width: 750px;
        border-radius: 5px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-type: y mandatory;
    }

    .video_container::-webkit-scrollbar {
       display: none;
    }
 
    .video {
        position: relative;
        width: fit-content;
        background-color: white;
        scroll-snap-align: start;
    }

    .video_player {
        object-fit: fill;
        height: fit-content;
        width: fit-content;
    }

    .sidebar_container {
        position: absolute;
        top: 65%;
        right: 0px;
    }

    .sidebar_buttons {
        padding: 10px;
        text-align: center;
    }

    .button {
       height: 50px;
       width: 50px;
       padding: 10px;
       filter: invert(100%);
    }

   